<div id='footer-header-left'>
</div>
<div id='footer-header-center'>
</div>
<div id='footer-header-right'>
</div>
<div id="footer">
  <div id="footer-inner">
    <div id="footer-content">
      <ul class="footer-column footer-column-first">
        <li><span>Logoserv</span></li>
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/quem-somos">Quem somos</a></li>
      </ul>
      <ul class="footer-column">
      </ul>
      <ul class="footer-column">
      </ul>
      <ul class="footer-column footer-column-last">
        <li><span><%= _("Search") %></span></li>
        <li id="footer-search"></li>
      </ul>
      <div class='address'>
        Av. Tancredo Neves, 274- Centro Empresarial Iguatemi - Bloco B Sala: 137Pituba - Salvador - Bahia | 71 3272-8800 | logoserv@logoserv.com.br
      </div>
    </div>
    <div id="footer-footer">
      <p>&copy; Copyleft 2014 - www.logoserv.com.br</p>
    </div>
  </div>
</div>
<!--
<script type="text/javascript">
(function($) {
  var timer;
  function fixProfileBlockMenus() {
    if ($('.profile-info-data li').length && $('.profile-info-options li').length) {
      $('.profile-info-options a').removeClass();
      $('.profile-info-options li').each(function() {
        $('ul.profile-info-data').append($(this));
      });
      clearInterval(timer);
    }
  }
  if ($('.profile-info-block').length) timer = setInterval(fixProfileBlockMenus, 1000);
  $('#homepage-link strong').append($('#pending-tasks-count'));
}(jQuery));
</script>
-->

<script type="text/javascript">
(function($) {
  $('#top-search').clone().attr('id', 'bottom-search').prependTo('#footer-search');
}(jQuery));
</script>
