<li class="navigation-last"><a href="/search/people"><span class='icon-menu-people'><%= 'Moradores' %></span></a></li>
<li class="navigation-last"><a href="/search/communities"><span class='icon-menu-contents'><%= 'Condomínios' %></span></a></li>
